<div class="advertise-header">
	<p style="color : #f00;">Do u want to advertise with us please sign in </p>
</div>



<div class="imagesdiv">
<marquee direction="rigth">
 <%=image_tag "justbooks/promo.png",  :size => "540x360"  %>
 <%=image_tag "justbooks/kiosk.png",  :size => "540x360" %>
 <%=image_tag "justbooks/hola.jpg",  :size => "540x360" %>
</marquee>
</div>

<div class="advertise-footer">
	<p style="color : #111;">DO u want to advertise with justbooks then please contact us , The advertisement will be 
	displayed on kiosk in justbooks </p>
</div>

