<html>
<body>

	<% if user_signed_in? %>
			<h2>Welcome to Dartboard</h2>
		   <a href="/campaigns" class="btn btn-large btn-primary" >Campagin </a>
	<% else %>
	    <%= render :partial => 'images' %>
	<% end %>

</html>
</body>
